@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
	box-sizing: border-box;

	-moz-text-size-adjust-100%;
	-ms-text-size-adjust-100%;
	-webkit-text-size-adjust-100%;
	-text-size-adjust-100%;
}

*, *::before, *::after; {
	box-sizing: inherit;
}

body {
	background-color: #E8E5DA
}

.masthead {
	background: transparent url("../images/masthead-bg.png") repeat left center;

	text-align: center;
}

.title {
	display: inline-block;
	margin: 0 auto;
	padding: 1rem 4rem;
	background-color: #E8E5DA;
	background-image: url("../images/logo.svg"), url("../images/logo.svg");
	background-position: left center, right center;
	background-repeat: no-repeat;
	background-size: 64px 64px, 64px 64px
}

.info {
	background-color: #87714F
}

.boarder {
}
